<!DOCTYPE html>
<html>
<head>
    <title>Edit Passenger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Edit Passenger</h1>
<a href="/passengers">← Back</a>

<form method="POST" class="edit-box">

    <label>Name</label>
    <input type="text" name="name" value="{{ passenger.name }}" required>

    <label>Email</label>
    <input type="email" name="email" value="{{ passenger.email }}">

    <label>Phone</label>
    <input type="text" name="phone" value="{{ passenger.phone }}">

    <label>Gender</label>
    <select name="gender">
        <option value="Male" {% if passenger.gender == "Male" %}selected{% endif %}>Male</option>
        <option value="Female" {% if passenger.gender == "Female" %}selected{% endif %}>Female</option>
        <option value="Other" {% if passenger.gender == "Other" %}selected{% endif %}>Other</option>
    </select>

    <label>Age</label>
    <input type="number" name="age" value="{{ passenger.age }}">

    <button type="submit">Update Passenger</button>

</form>

</body>
</html>
