<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airport Management System</title>

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
     <header>
        <h1>Airport Management System</h1>
     </header>
     <section>
  <div>
      <div class="btn-container">
    <button class="button" onclick="window.location.href='/airports'">Manage Airports</button>
    <button class="button" onclick="window.location.href='/flights'">Manage Flights</button>
    <button class="button" onclick="window.location.href='/passengers'">Manage Passengers</button>
    <button class="button" onclick="window.location.href='/bookings'">Manage Bookings</button>
</div>

  </div>
     </section>
</body>
</html> 